@font-face {
    font-family: "dot";
    src: url(/font/PixelMplus12-Regular.ttf?9848197d6c91534133c521d787d275f3);
  }

  @font-face {
    font-family: "dot_bold";
    src: url(/font/PixelMplus12-Bold.ttf?d7c0eb6ee290ab71af65ae3bd8347c69);
  }


  .content {
      width: 70%;
  }

  .trophy-text_gold {
    color: #fff;
    font-size: 1.8rem;
    letter-spacing: 0.6px;
    line-height: 1.8;
  }
  .trophy-text_gold:hover {
      color:#bbb;
      text-decoration: none;
      opacity: .8;
  }

  .trophy-text_silver {
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: 0.6px;
    line-height: 1.8;
  }
  .trophy-text_copper {
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 0.6px;
    line-height: 1.8;
  }

  .logo {
    font-family: "dot_bold";
  }

  .trophy-title {
    font-size: 3rem;
    font-family: "dot_bold";
  }

  .trophy-scroll {
    overflow-y: scroll;
    height: 300px;
  }

  .time {
    font-size: 1rem;
    text-align: center;
    color: #fff;
  }

.gold {
    color: #e6b422;
    font-size: 1.8rem;
    line-height: 1.6;
}
.silver {
    color: #c0c0c0;
    font-size: 1.5rem;
    line-height: 1.6;
}
.copper {
color: #815a2b;
font-size: 1.4rem;
}

hr {
    width: 100%;
    color: #ddd;
}
